<aside class="articyl-banner articyl-banner--{{ include.position }}" data-position="{{ include.position }}" aria-label="Articyl promotion">
  <div class="articyl-banner__inner">
    {% assign variants = site.data.articyl_variants[include.position] %}
    {% for variant in variants %}
    <div class="articyl-banner__variant" data-variant="{{ forloop.index }}">
      {% if variant.label %}<p class="articyl-banner__label">{{ variant.label }}</p>{% endif %}
      {% if variant.heading %}<h4 class="articyl-banner__heading">{{ variant.heading }}</h4>{% endif %}
      <p class="articyl-banner__text">{{ variant.text }}</p>
      <a href="https://articyl.com?ref=blog-{{ include.position }}-{{ forloop.index }}" class="articyl-banner__cta" target="_blank" rel="noopener">{{ variant.cta }} &rarr;</a>
    </div>
    {% endfor %}
  </div>
</aside>
