<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include head.html %}

<body>

  {% include header.html %}

  <div id="wrap" class="container-fluid">
    <div class="row">
      <div class="content col-md-8 col-md-offset-2">
        {{ content }}
      </div>
      <div class="content col-md-2 hidden-md-down sidebar">
        <h2>Top Posts</h2>
        <ul>
          <li/><a href="https://gavindraper.com/2012/02/18/sql-server-isolation-levels-by-example/">Isolation Levels Explained</a>
          <li/><a href="https://gavindraper.com/2012/05/02/sql-server-indexed-views-explained/">Indexed Views Explained</a>
          <li/><a href="https://gavindraper.com/2017/06/06/sql-server-2016-tsql-whats-new/">SQL Server 2016 What's New With TSQL</a>
          <li/><a href="https://gavindraper.com/2012/06/03/sql-server-service-broker-explained/">SQL Server Service Broker Explained</a>
          <li/><a href="https://gavindraper.com/2017/05/31/sql-server-parameter-sniffing/">Parameter Sniffing In Depth</a>
          <li/><a href="https://gavindraper.com/2017/05/16/clustered-and-nonclustered-indexes/">Clustered & NonClustered Indexes Explained</a>
        </ul>
        <!--{% include adsense-vertical.html %}-->
        <h2>Recent Posts</h2>
        {%for post in site.posts limit:5 %} {% unless post.next %}
        <ul class="this">
          {% else %} {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %} {% capture nyear %}{{ post.next.date | date: '%Y'
          }}{% endcapture %} {% if year != nyear %}
        </ul>
        <h3>{{ post.date | date: '%Y' }}</h3>
        <ul class="past">
          {% endif %} {% endunless %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
        <!--{% include adsense-vertical.html %}-->
      </div>
    </div>
  </div>

  {% include footer.html %} {% include analytics.html %}
</body>

</html>
